body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

    background: url("https://images.steamusercontent.com/ugc/854976916434675605/0A7FF9FDC45305AB9F1B4F51DCAC315274B28F96/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false")
                no-repeat center center fixed;

    background-size: contain;
    background-color: #000;
    color: white;
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 0 0 8px black;
}

/* CONTENEDOR DE TARJETAS */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

/* TARJETAS */
.card {
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #444;
    backdrop-filter: blur(3px);
}

.card1 {
    background: rgba(0, 0, 0, 0.75);
    padding: 25px; 
    border-radius: 12px;
    box-shadow: 0 0 10px #444;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    gap: 10px; /* espacio entre elementos internos */
    height: 500px; /* límite visual opcional */
    overflow-y: auto; /* scroll si se excede */
}
.card2 {
    background: rgba(0, 0, 0, 0.75);
    padding: 50px; 
    border-radius: 12px;
    box-shadow: 0 0 10px #444;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    gap: 10px; /* espacio entre elementos internos */
    height: 600px; /* límite visual opcional */
    overflow-y: auto; /* scroll si se excede */
}



h2, h3 {
    color: #00eaff;
}

/* Inputs y botones */
input, button, textarea {
    margin: 8px 0;
    padding: 10px;
    width: 90%;
    max-width: 500px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin: 10px auto; /* centrado horizontal */
}

input, textarea {
    background: rgba(255, 255, 255, 0.85);
}

button {
    background: #00c9a7; /* verde menta tech */
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 45px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
    display: block;
    margin: 10px auto; /* centrado horizontal */
    width: fit-content;
}

button:hover {
    background: #009e85; /* tono más oscuro al pasar el mouse */
    transform: scale(1.05); /* efecto de agrandamiento sutil */
}

/* Progreso */
progress {
    width: 90%;
    height: 20px;
    margin-top: 10px;
}

/* Pre en blanco */
.pre-blanco {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
