<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Auditoría de Seguridad - Sistemas de Cifrado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="titulo">AUDITORIA DE SEGURIDAD: IMPLEMENTACION DE CIFRADO</h1>

    <div class="cards-container">
    
        <div class="card2 auto-height">

    <h2>1. CIFRADO ASIMETRICO </h2>

    <div class="field-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Ingresa tu nombre">
    </div>

    <div class="field-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" placeholder="Ingresa tu correo">
    </div>

    <div class="field-group">
        <label for="clave">Clave</label>
        <input type="password" id="clave" placeholder="Ingresa tu clave">
    </div>

    <div class="field-group">
        <label for="frase">Frase</label>
        <input type="text" id="frase" placeholder="Ingresa una frase">
    </div>

    <div class="field-group">
        <label for="passphrase_rsa">🔐 Passphrase para proteger clave privada</label>
        <input type="password" id="passphrase_rsa" placeholder="Passphrase para proteger clave privada">
    </div>

    <button onclick="generarGPGDescargar()">GENERAR</button>
    <p id="key_status"></p>

    

</div>


        <div class="card1 auto-height">
            <h2>2. SUBIR ARCHIVO Y CIFRAR (CIFRADO SIMETRICO)</h2>

            <form id="form_aes" enctype="multipart/form-data" onsubmit="return false;">
                <label for="file_aes">📁 Elegir archivo</label>
                <input type="file" id="file_aes" name="file">

                <label for="passphrase_file_aes">🔐 Passphrase para AES</label>
                <input type="password" id="passphrase_file_aes" placeholder="Passphrase para AES">

                <button type="button" onclick="uploadCifrarAES()">CIFRAR ARCHIVO</button>
                <button type="button" onclick="uploadDescifrarAES()">DESCIFRAR ARCHIVO</button>

                <progress id="progress_file_aes" value="0" max="100"></progress>
                <p id="file_aes_status"></p>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>